@import '~antd/dist/antd.css';

.ant-layout-sider-zero-width-trigger {
  z-index: 999;
  position: fixed;
  top: 4px;
  left: 4px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.graphiql-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}